.key--number{
  background-color: #EDEDF0;
  border-radius: 8px;
  color: #7188B5;
}
.key--number:hover{
  background-color: #d6d6d7;
}
.zero{
  grid-column-start: 1;
  grid-column-end:  3;
  grid-row-start: 4;
  grid-row-end: 4;
}